.input {
  padding: 8px 16px 8px 16px;
  @apply box-border block w-full text-sm border rounded-lg outline-none;
}


.input:hover {
  @apply border-gray-200;
  box-shadow: 0px 4px 8px 0px #4043443D;
}

.input:focus:invalid {
  box-shadow: none;
  @apply border border-gray-100;
}


.input:focus {
  @apply border-teal-800;
}


.input--default {
  @apply bg-white border-gray-100 cursor-pointer input;
}

.input--error {
  @apply bg-white border-red-500 cursor-pointer input;
}

.input--disabled {
  @apply border-gray-200 cursor-not-allowed input bg-gray-50;
}

.input--disabled:hover {
  box-shadow: none;
}