.options {
  margin: 0;
  box-shadow: 0px 4px 8px 0px #4043443D;
  max-height: 128px;
  @apply  w-full p-2 pb-1 mt-1 overflow-y-auto border border-transparent rounded-lg;
}

.options__item {
  @apply mb-2 text-sm text-gray-900 bg-white;
  color: #1f2937; /* text-gray-900 */
  line-height: 22px;
  height: 30px;
  padding: 4px 8px 4px 8px;
  opacity: 0px;
}

.options__item--hovered {
  @apply font-bold bg-transparent transition duration-300 ease-in-out
}
.options__item:hover {
  @apply options__item--hovered
}
